
# clerk configuration (can include secrets)
/.clerk/
node_modules
.next
.env.local
.DS_Store
images/

# 별도 프로젝트
instaclone/

# 빈 메모 파일
setting으로
사용자로
.vercel

# 자동생성 파일
.playwright-mcp/
.vscode/
docs/
test-results/
tsconfig.tsbuildinfo
public/a.png
